*{
    font-family:'Courier New', Courier, monospace;
}
 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(resimler/HABER.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.main-div{
    display: flex;
    flex-direction:column;
    background: rgba(0, 0, 0, 0.7);
    color: whitesmoke;
    min-height: 40vh;
    min-width: 40vw;
    padding: 10px;
    border-radius: 20px;
}
.box{
    margin-top: 10px;
    font-size: 20px;
}
.btn{
    display: inline-block;
    margin-top: 10px;
    background-color: whitesmoke;
    width: 180px;
    height: 40px;
    font-size: 18px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    margin: 20px;
    transition: 0.2s;
   
    
}
.btn:hover{
    
    color: whitesmoke;
    background: none;
    border: 1px solid whitesmoke;
}
a{
    width: 0px;
    height: 0px;
}
h1{
    margin: 10;
    font-family: sans-serif;
    font-size: 40px;
    margin-left: 170px;
}
.etki{
 text-decoration: none;
 color: white;
 transition: 0.3s;
}
.etki:hover{
 
 color: #a52a3a;
}