*{
    margin: 0;
    padding: 0;
}

.nav-bar{
  width:100% ;
  height: 10%;
  background: rgba(0,0,0,0.5)60%;
}
main{
  width: 100%;
  

height: 100vh;
}
.anv{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2.5px;
  

}
.menu{
  margin-left: 35%;
 
      display: inline-block;
      margin-top: 0.9%;
      
      height: 78%;
  
  
}
ul li{
  list-style: none;
  margin-left: 20%;
  margin-top: 3%;
  font-size: 100%;
}
ul li a{
  text-decoration: none;
  color: #fff;
  font-family: arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  font-size: 90%;
  
  }
  ul li a:hover{
      color:rgb(62, 62, 62) ;
    }
    .ana-resim{
        width: 100%;
        height: 100vh;
        background-image: url(resimlerv2/Adsız\ tasarım\ \(1\).png);
        background-position: center;
        background-size: cover;
    }
    iframe{
        margin-top: 4%;
        margin-left: 4%;
        width: 90%;
        height: 90%;
        border-radius: 5%;
        display: inline-block;
    }
    
    .maps{
        margin-left: 62%;
        margin-top: 7%;
        border-radius: 10%;
        background: rgba(0,0,0,0.5)60%;
        width: 35%;
        height: 450px;
       display: inline-block;
    }
    .ilt{
        margin-left: 3%;
        margin-top: -55%;
        width: 35%;
        height: 450px;
        border-radius: 10%;
        background: rgba(0,0,0,0.5)60%;
        display: inline-block;
    }
    .img{
        border-radius: 5%;
        margin-top: 4%;
        margin-left: 4%;
        width: 90%;
        height: 90%;
        background-image: url(resimlerv2/Merhabalar.png);
        background-position: center;
        background-size: cover;
    }